@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: PingFang TC, Noto Sans TC, Arial;
  font-weight: 500;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
